.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  margin: 5px;
}

.small-box {
  height: 250px;
  padding: 10px;
}

.small-box .inner {
  padding: 10px;
}

.big-text {
  font-size: 40px;
  font-weight: bold;
}

.bg-gradient-success {
  background-color: limegreen;
  background-image: linear-gradient(to bottom right, limegreen, white);
}

.bg-gradient-red {
  background-color: red;
  background-image: linear-gradient(to bottom right, red, white);
}

.bg-gray-dark {
  background-color: #343a40;
  background-image: linear-gradient(to bottom right, #343a40, white);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #343a40;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.attractive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.attractive-table th,
.attractive-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.attractive-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.attractive-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
